**/*.pyc
**/__pycache__
**/.pytest_cache
**/.venv
**/venv
**/env
**/ENV
**/build
**/dist
**/*.egg-info
**/.eggs
**/.tox
**/.nox
**/.mypy_cache
**/.dmypy.json
**/.coverage
**/.cache
**/.next
**/node_modules
**/.github
**/.git
**/.gitignore
**/Dockerfile
**/.dockerignore
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
**/tests
**/*.log
**/*.csv
**/*.json
**/*.md
**/qdrant_data
**/langfuse_server_data
**/.history
**/pipeline_cache
**/eval_questions
**/eval_results
**/benchmark_results
**/dataset_cache/
**/pack/
**/test_docs
